<div class="product">
    <ng-template [ngIf]="product.image">
      <div class="product-image" >
        <!-- <img src="assets/images/products/{{product.image}}"> -->
        <img src="{{product.image}}"> <!-- убираем вводную часть, т.к. с сервера приходит полный путь до картинки -->
      </div>
    </ng-template>


    <custom-title [title]="product.title | uppercase"></custom-title>

    <div class="product-text">{{product.description | wordUpper: ['сыр', 'томат', 'сос']}}</div>
    <div class="product-action" #elem>
      <!-- <button class="btn btn-add-to-cart" (click)="addProductToCart()">В корзину</button> -->
      <a class="btn btn-add-to-cart" routerLink="/order" [queryParams]="{product: product.title}">В корзину</a>
      <a class="btn btn-white" [routerLink]="['/products', product.id]">Подробнее</a>
    </div>
</div>

